{% extends 'base.html' %}
{% block title %}
  Post Job
{% endblock title %}
{% block content %}
  <div class="container card card-3 border-radius-0">
    <div class="row ">

          <div class="col-sm-3">

          </div>
          <div class="col-sm-9">
            <div class=" padding-15px border-radius-0">
              <br />
              <div>
                <!-- {{condition.all}} -->
                <!-- {{condition}} -->
                {% if condition %}
                {% for c in condition %}
                 {%  if c.name  %}
                 <form action="" class="card-min card padding-10px border-radius-0" method="POST" enctype="multipart/form-data"  style="border-left:0px solid grey;">
                     {% csrf_token %}
                     {{form.as_p}}
                     <center>
                         <button class="btn btn-block btn-info">Submit</button>
                     </center>
                   </form>
                  {% else %}
                  <div class="alert alert-danger">
                    <p>You need to fill the company details to post job <a style="color:#024b68;font-size:18px;" href="/company/profile-settings/?next=/jobs/post/">Click here</a></p>
                  </div>
                 {% endif %}
                {% endfor %}

                {%else  %}
                <div class="alert alert-danger">
                  <p>You need to fill the company details to post job <a style="color:#024b68;font-size:18px;" href="/company/profile-settings/?next=/jobs/post/">Click here</a></p>
                </div>
                {% endif %}



                      <!-- <div class="alert alert-danger" role="alert">
                        <center>
                            <p style="font-size:18px;" class="">You need to fill the company details to post the jobs </p> <br /><a class="btn btn-info" href="/company/profile-settings/">Click here</a>
                        </center>
                      </div> -->

              </div>
            </div>
          </div>
    </div>
  </div>
{% endblock content %}
