{% extends 'base.html' %}
{% block title %}
  Previous Posting
{% endblock title %}
{% block content %}
  <div class="container card card-3 border-radius-0">
    {% if  not object_list %}
    <div class="row">
      <div class="col-sm-12">
        <center>
        <h1 style="font-size:20px; text-transform:capitalize!important;color:#024b68;padding:10px;">No Previous Job Posting Found</h1>
      </center>
      </div>
    </div>
    {% endif %}
    <div class="row ">
          <div class="col-sm-3">

          </div>
          <div class="col-sm-9">
            <div class=" padding-15px border-radius-0" >
              {% if object_list %}
                {% for o in object_list %}
                <div class="card border-radius-0" style="border-left:5px solid grey;">
                  <div class="card-body">
                    <h4 class="card-title font-weight-200 font-family font-size-16px">{{o.job_title}}</h4>

                    <h6 class="card-subtitle mb-2 text-muted capitalize">{{o.job_description | safe}}</h6>
                    <br />
                    <p class="card-text text-muted">Notice period : {{o.notice_period}}</p>

                    <p class="card-text text-muted">Location : {{o.location}}</p>
                    <br />
                    <div class="float-left">
                      <a href="update/{{o.id}}" class="card-link btn btn-warning">Update</a>
                      <a href="delete/{{o.id}}" class="card-link btn btn-danger">Delete</a>
                    </div>
                    <div class="float-right">
                      <a href="/jobs/view-applications/{{o.id}}" class="card-link btn btn-info">View Application</a>
                    </div>
                    <span class="clearfix"></span>
                    </div>
                  </div>
                {% endfor %}
                {% endif %}

                <br />
                <center>
                  {% if is_paginated %}
                    <ul class="pagination justify-content-center">
                      {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&q=">&laquo;</a></li>
                      {% else %}

                      {% endif %}
                      {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                          <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                          <li class="page-item"><a class="page-link" href="?page={{ i }}&q=">{{ i }}</a></li>
                        {% endif %}
                      {% endfor %}
                      {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&q=">&raquo;</a></li>
                      {% else %}

                      {% endif %}
                    </ul>
                  {% endif %}
                </center>
            </div>
          </div>
    </div>

  </div>
{% endblock content %}
