{% extends 'base.html' %}
{% block content %}
<section id="main_background" style="background : linear-gradient(165deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{{STATIC_URL}}static/img/background.png');">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <!--ALl the front page goes here-->
        <center>
          <p class="head-img-text capitalize font-size-16px">Find the right company for you.</p>

          </center>
          <form class="form-now" method="GET" action="/jobs/">
            <div class="form-row">
              <div class="input-ele offset-md-1 col-md-4 col-sm-12 col-xs-12">
                <input type="text" class="form-control" style="color:white !important;font-weight:600!important;" name="job_title" id="txtSearch" placeholder="Job Title">
              </div>
              <div class="input-ele col-md-4 col-sm-12 col-xs-12">
                <input type="text" class="form-control" style="color:white !important;font-weight:600!important;" name="location" id="location" placeholder="Location">
              </div>
              <div class="input-ele col-md-2 col-sm-12 col-xs-12 pull-left btn-main-page">
              <input type="submit" class="btn btn-primary btn-block btn-custom" value="Search">
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</section>
<style>
.ui-menu .ui-menu-item a{
  font-family: 'Roboto' , sans-serif !important;
  font-size: 15px !important;
  font-weight:200 !important;
  color:#024b68 !important;
  background-color: #fff !important;
}
</style>
<script>
$(function() {
  $("#txtSearch").autocomplete({
      source: "/api/get_job_title/",
      select: function (event, ui) { //item selected
        AutoCompleteSelectHandler(event, ui)
      },
      minLength: 2,
    });
  });

  function AutoCompleteSelectHandler(event, ui)
  {
    var selectedObj = ui.item;
  }

</script>
<script>
$(function() {
  $("#location").autocomplete({
      source: "/api/location/",
      select: function (event, ui) { //item selected
        AutoCompleteSelectHandler(event, ui)
      },
      minLength: 2,
    });
  });

  function AutoCompleteSelectHandler(event, ui)
  {
    var selectedObj = ui.item;
  }

</script>


<button onclick="getLocation()" style="display:none;">Try It</button>


<script>

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, showError);
    } else {
        alert("Geolocation is not supported by this browser.");
    }
}

function showPosition(position) {
    var latLng = position.coords.latitude + "," + position.coords.longitude;
    var geocoder = geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'latLng': latLng }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[1]) {
                        alert("Location: " + results[1].formatted_address);
                    }
                }
            });
}
//To use this code on your website, get a free API key from Google.
//Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp

function showError(error) {
    switch(error.code) {
        case error.PERMISSION_DENIED:
            alert("User denied the request for Geolocation.")
            break;
        case error.POSITION_UNAVAILABLE:
            alert("Location information is unavailable.")
            break;
        case error.TIMEOUT:
            alert("The request to get user location timed out.");
            break;
        case error.UNKNOWN_ERROR:
            alert("An unknown error occurred.");
            break;
    }
}
</script>

<br /><br />
<section id="job-listing">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <center>
          <h2 class="font-size-26px">Top Job Picks for you</h2>
        </center>
        <hr />
        <div class="float-left">
          <form method="GET" class="input-group">
           <input type="text" class="form-control" name="q" placeholder="Search Keywords">
           <span class="input-group-btn">
                <button class="btn btn-info" style="position:relative;top:-10px;">Search</button>
           </span>
        </form>
        <span class=""><a href="/">Clear keywords</a></span>
        </div>
        <div class="float-right" style="width:10rem;">
              <label for="sort-by">Sort By</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Relevance</option>
                <option>Most Viewed</option>
                <option>Most Applied</option>
                <option>Recent</option>
              </select>
        </div>
        <span class="clearfix"></span>
      </div>
    </div>
  </div>
</section>
<br />
<section id="">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {% if messages %}
           {% for message in messages %}
             <div class="alert alert-danger alert-dismissible fade show {{ message.tags }}" role="alert">
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
             <p>{{message}}</p>
             </div>
           {% endfor %}
         {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 padding-5px border-radius-0">

      </div>
      <div class="col-sm-9">
        <!-- {{object_list}} -->

        {% if object_list %}
        {% for o in object_list %}
        <div class="card border-radius-0" style="border-radius:0 !important;height:140px;overflow:hidden;">
          <div class="border-radius-0" style="">
            <!--            Pick from here -->
            <div class="float-left">
              {% if o.jobposting.logo %}
                <img src="{{MEDIA_URL}}{{o.jobposting.logo.url}}"  class="imag img-responsive" style="width:auto;height:auto;max-width:155px;max-height:155px;background-size:cover;"/>
                {% else %}
                  <img src="http://placehold.it/200x200" class="imag img-responsive" style="height:155px;width:155px;"/>
              {% endif %}

            </div>
            <ul class="float-left" style="position:relative;top:10px;border-left:2px solid #f9f9f9; height:155px;margin-left:2%;">
                <li>
                  <p class="text-muted" style="font-size:20px;color:#4a148c !important;">{{o.job_title}}</p>
               <li>
                <li style="margin-top:4px;">
                 <p class="text-muted" style="font-size:14px;">{{o.jobposting.name}}</p>
               <li>
                 <br />
                <li class="text-muted">
                  <p class="text-muted" style="font-size:10px;color:#6c757d!important;">
                    {{o.job_description | safe}}
                  <p>
                </li>
            </ul>
            <div class="float-right" style="width:25%;text-align:left !important;position:relative;top:10px;">
                <ul>
                  <li>
                    <p style="font-size:14px;" class="text-muted">
                      <i class="material-icons" style="position:relative;top:2px;color:#024b68;font-size:14px;">location_on</i>
                      Kolkata
                    </p>
                  </li>
                  <br />
                  <li>
                       <p style="font-size:14px;" class="text-muted">
                      <i class="material-icons" style="position:relative;top:2px;color:#024b68;font-size:14px;">access_time</i>
                      Notice period {{o.notice_period}} months
                    </p>
                  </li>
                  <br />
                    <li>
                      <!-- <div class="float-right"> -->
                          {% if user.profile_type == "employee" %}
                          <form action="" method="POST">
                            {% csrf_token %}
                            <a class="btn btn-info btn-custom" href="/apply/{{o.id}}" style="font-weight:500;padding:6px 14px;">Easy apply&nbsp;&nbsp;<i style="position:relative;top:-1px;" class="material-icons">play_arrow</i> </a>
                          </form>
                          {% endif %}
                      <!-- </div>
                      <div class="float-right"> -->
                          {% if not user.is_authenticated %}
                          <a class="btn btn-info btn-custom" href="/accounts/login/?next=/" style="font-weight:500;padding:6px 14px;">Login to Apply&nbsp;&nbsp;<i style="position:relative;top:-1px;" class="material-icons">play_arrow</i> </a>
                          {% endif %}
                      <!-- </div> -->
                  </li>

                </ul>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
          <div class="row">
            <div class="col-sm-12">
              <center class="card padding-15px border-radius-0">
                <p style="font-size:16px;color:#024b68;" class="">Ah! No Jobs Found for your search!</p>
              </center>
            <div>
          </div>
        {% endif %}



        <!-- {% if object_list %}
        {% for o in object_list %}
        <div class="card border-radius-0">
          <div class="card-body">
            <div class="float-left">
              <a href="{{o.jobposting.website}}">

                  <h4 class="card-title font-weight-200 font-family font-size-18px" style="font-size:22px;font-weight:400;">{{o.jobposting.name}}</h4>

              </a>

              <h4 class="card-title font-weight-200 font-family font-size-16px" style="color:red;">{{o.job_title}}</h4>
            </div>
            <div class="float-right">
                  <h4 class="card-title font-weight-200 font-family font-size-14px" style="color:red;">{{o.location}}</h4>
            </div>
            <span class="clearfix" style="clear:both;display:inline-block;"></span>

            <br /><br /><br /><br /><br /><br /><br/>
            <div class="float-left">
            <h6 class="card-subtitle mb-2 text-muted capitalize">{{o.job_description | safe}}</h6>
            <p class="card-text"></p>
            <p class="text-muted capitalize">Notice Period - {{o.notice_period}} months.</p>
            <br />
            <p style="" class="capitalize text-muted">{{o.jobposting.line1 }} , {{ o.jobposting.line2}} , {{o.jobposting.city}} , {{o.jobposting.state}}</p>
          </div>
          <div class="float-right">
              {% if user.profile_type == "employee" %}
              <form action="" method="POST">
                {% csrf_token %}
                <a class="btn btn-info btn-custom" href="/apply/{{o.id}}" style="font-weight:500;">Easy apply&nbsp;&nbsp;<i style="position:relative;top:-1px;" class="material-icons">play_arrow</i> </a>
              </form>
              {% endif %}
          </div>
          <div class="float-right">
              {% if not user.is_authenticated %}
              <a class="btn btn-info btn-custom" href="/accounts/login/?next=/" style="font-weight:500;">Login to Apply&nbsp;&nbsp;<i style="position:relative;top:-1px;" class="material-icons">play_arrow</i> </a>
              {% endif %}
          </div>
          <span class="clearfix"></span>
          </div>
        </div>
        {% endfor %}
        {% else %}
          <div class="row">
            <div class="col-sm-12">
              <center class="card padding-15px border-radius-0">
                <p style="font-size:16px;color:#024b68;" class="">Ah! No Jobs Found for your search!</p>
              </center>
            <div>
          </div>
        {% endif %} -->
        <div class="row">
          <div class="col-sm-12">
            <center>
                <!-- {{request.get_full_path}} -->
              {% if is_paginated %}
                <ul class="pagination justify-content-center">
                  {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&q={{q}}">&laquo;</a></li>
                  {% else %}

                  {% endif %}
                  {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                      <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                      <li class="page-item"><a class="page-link" href="?page={{ i }}&q=">{{ i }}</a></li>
                    {% endif %}
                  {% endfor %}
                  {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&q={{q}}">&raquo;</a></li>
                  {% else %}

                  {% endif %}
                </ul>
              {% endif %}
            </center>
          </div>
        </div>
        <br /><br />
      </div>
    </div>
  </div>
</section>
{% endblock content %}
