<section class="footer" style="background-color:#024b68;color:white;">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <ul id="footer-list">
            <li>
              <a href="/about-us/">About Us</a>
            </li>
            <li>
              <a href="/contact-us/">Contact Us</a>
            </li>
            <li>
              <a href="/terms/">Terms</a>
            </li>
            <li>
              <a href="/privacy/">Privacy Policy</a>
            </li>
            <li>
              <a href="/faq/">Frequently Asked Question</a>
            </li>
            <li>
              <a href="/press/">Press</a>
            </li>
        </ul>
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
      </div>

    </div>
  </div>
</section>
