<section class="footer" style="background-color:#024b68;color:white;">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <ul id="footer-list">
            <li>
              <a href="#!">About Us</a>
            </li>
            <li>
              <a href="#!">Contact Us</a>
            </li>
            <li>
              <a href="#!">Terms</a>
            </li>
            <li>
              <a href="#!">Privacy Policy</a>
            </li>
        </ul>
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
      </div>

    </div>
  </div>
</section>
