{% load static %}
body{
  background-color:#EFF3F6;
  font-family: 'Source Sans Pro', sans-serif;
  color:#696969;
  font-weight:200;
}
.font-family{
  font-family: 'Source Sans Pro', sans-serif;
}
#navbar-reset{
    border-radius:0 !important;
    background-color:#26414C !important;
    text-transform: capitalize;
    margin-bottom: 0 !important;
}
.navbar{
  padding:0 !important;
}
.navbar-nav li a{
  text-transform: capitalize;
}
.capitalize{
  text-transform: capitalize !important;
}
.font-size-13px{
  font-size:13px !important;
}
.font-size-14px{
  font-size:14px !important;
}
.font-size-15px{
  font-size:15px !important;
}
.font-size-16px{
  font-size:16px !important;
}
.font-size-26px{
  font-size: 26px;
}
.font-size-18px{
  font-size: 18px;
}
.notification-dropdown{
  min-width:20rem;
}
.black-color{
  color:#696969 !important;
}
.padding-5px{
  padding:5px;
}
.padding-10px{
  padding:10px;
}
.padding-15px{
  padding:15px;
}
#main_background{
  background-repeat:no-repeat;
  max-height:350px;
  width:100%;
  height:350px;

}
.head-img-text{
  font-size:28px !important;
  color:#fff;
  font-weight:200;
  margin-top:5%;
}
.font-weight-100{
  font-weight:100;
}
.font-weight-200{
  font-weight:200;
}
.font-weight-300{
  font-weight:300;
}
.font-weight-400{
  font-weight:400;
}
.font-weight-500{
  font-weight:500;
}
.font-weight-600{
  font-weight:600;
}
.font-weight-700{
  font-weight:700;
}
.btn-custom{
  background-color:#26414C !important;
  color:#fff;
  border-color:#26414C !important;
  box-shadow: 0 2px 2px 0 rgba(34,68,78,.14), 0 3px 1px -2px rgba(34,68,78,.2), 0 1px 5px 0 rgba(34,68,78,.12) !important;
}
.btn-main-page{
  position: relative;
  top: -10px;
}
input{
  color:#fff !important;
}
.form-control, .is-focused .form-control {
    background-image: linear-gradient(0deg,#9c27b0 2px,rgba(156,39,176,0) 0),linear-gradient(0deg,#d2d2d2 1px,hsla(0,0%,82%,0) 0);
}
.form-now{
  margin-top:8%;

}
.clearfix{
  clear:both;
  display: inline-block;
}
.border-radius-0{
  border-radius:0 !important;
}
.card{
  /* border:0.5px solid #323232; */
}
input{
  font-family: 'Source Sans Pro', sans-serif !important;
  color:#696969 !important;
  font-weight:200  !important;
}
.btn , button , submit{
  color: white !important;
}
/*All media queries goes here */
@media all and(max-width : 767px){
  .notification-dropdown{
    min-width:10rem;
  }
}
@media all and (max-width:767px){
  .form-row > .input-ele{
    margin-top:25px;
  }
  .btn-custom{
    width:100%;
  }
}


.card-min{
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1), 0 1px 1px -2px rgba(0,0,0,.1), 0 0px 1px 0 rgba(0,0,0,.1) !important;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
/* CSS for the marquee */
.mc {
  /* mc stands for marquee container */
  overflow: hidden;
}
.mc .marquee {
  top: 0;
  left: 0;
  box-sizing: content-box;
  position: relative;
}
.marquee.vertical {
  /* To make vertical animations */
  animation: vertical 5s linear infinite;
}
.marquee.horizontal {
  /* To make horizontal animations */
  animation: horizontal 15s linear infinite;
}
.marquee.vertical:hover,
.marquee.horizontal:hover {
  /* These are to stop the animation on hover */
  animation-play-state: paused;
}
@keyframes horizontal {
  0% {
    left: 100%;
  }
  100% {
    left: -110%;
  }
}
@keyframes vertical {
  0% {
    top: 100%;
  }
  100% {
    top: -110%;
  }
}
.dropdown-item:hover{
  color:white !important;
}
/*All media queries goes here */
@media all and(max-width : 767px){
  .notification-dropdown{
    min-width:10rem;
  }
}
#img-logo{
  width:100%;
  height:150px;
  max-height:150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#img-container{
  position: relative;
}
.imag {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#img-container:hover .imag {
  opacity: 0.7;
}

#img-container:hover .middle {
  opacity: 1;
}
.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.pagination>.page-item.active>a, .pagination>.page-item.active>a:focus, .pagination>.page-item.active>a:hover, .pagination>.page-item.active>span, .pagination>.page-item.active>span:focus, .pagination>.page-item.active>span:hover {
    background-color: #024b68;
    border-color: #024b68;
    color: #fff;
    box-shadow: 0 4px 5px 0 rgba(2,75,104,.14), 0 1px 10px 0 rgba(2,75,104,.12), 0 2px 4px -1px rgba(2,75,104,.2);
}


.git-fork {
  display: block;
  position: absolute;
  top: 3rem;
  right: -8rem;
  width:8em;
  line-height: 2em;
  height: 2em;
  transform: rotate(45deg);
  background-color: #024b68;
  text-indent: .8em;
  a {
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    &:hover { text-decoration: underline; }
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 3px;
      width: 100%;

    }
    &:after {
      bottom: 0;
      top: auto;
      border-bottom-width: 0;
    }
  }
}

#img-resume-page{
  height:130px;
  width:130px;
  object-fit: contain;
  border-radius:50%;

}
@media all and (max-width:767px){
  .resume-page-mobile-texts{
    margin-top:200px;
    text-align:left;
    padding-bottom:10px;
  }
}
.inline-block li{
  display: inline-block;
}
.footer ul li a{
  color:white;
  /* text-decoration: underline; */
  margin-bottom: 2px;
  font-weight: 200;
}
#footer-list li{
  margin-top:10px;
}
.footer{
  padding:40px;
}
