{% extends 'base.html' %}

{% block content %}
<section id="login" style="margin-top:5%;">
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="card padding-15px border-radius-0">
        {% if messages %}
           {% for message in messages %}
             <div class="alert alert-danger">
             <p>{{message}}</p>
             </div>
           {% endfor %}
         {% endif %}

        <form action="" method="POST">
          {% csrf_token %}
          {{form.as_p}}

          <br /><br />
          <input type="submit" id="register_btn" class="btn btn-success btn-block" value="Submit"/>
        </form>
      </div>
    </div>
  </div>
</div>
</section>
<script>
  $('#id_profile_type').change(function(){
    if(this.value == "employer"){
      var arr = ['gmail.com' , 'yahoo.co.in' , 'yahoo.com' , 'rediffmail.com' , 'vsnl.co.in' , 'rediffmail.co.in' , 'hotmail.com'];
      var email = $('#id_email').val();
      var domain = email.substring(email.lastIndexOf("@") +1);
      domain = domain.trim();
      if(arr.includes(domain)){
        $.mdtoast('Employer needs a buisness email!'); 
        return false;
      }else{
        console.log('Sucessfully Validated!');
      }
    }
  });
</script>
{% endblock content %}
